.lobo {
  max-width: 360px;
  width: 100%;
  height: auto;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 140px;
}

.article-info {
  margin-bottom: 240px;
  width: 90%;
  align-self: flex-end;
}

.article-info h1 {
  font-family: Firasans-Bold;
  font-size: 4.5rem;
  margin-bottom: 30px;
  max-width: 523px;
}

.article-info p {
  font-size: 1.6rem;
  color: rgba(82, 82, 82, 1);
}

.experience {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 140px;
}

.experience-title {
  word-break: break-all;
  font-size: 144px;
  text-transform: uppercase;
  color: #e0e0e0;
  line-height: 144px;
  font-family: Firasans-Bold;
  max-width: 329px;
}

.description p {
  font-size: 1.5rem;
  color: #525252;
  max-width: 550px;
  margin: 10px 0px 60px;
}

.description p strong {
  color: #141414;
  font-family: Firasans-Bold;
}

.formacao {
  font-size: 0.87rem;
  display: flex;
  padding-bottom: 20px;
}


.skils {
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 2fr 1.4fr;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

span {
  font-size: 0.867rem;
  color: #525252;
  position: absolute;
  top: 25px;
  left: -100px;
  width: 50px;
  text-align: end;
}

.skils h2 {
  font-family: Firasans-Bold;
  font-size: 1, 125rem;
  line-height: 20px;
  margin-bottom: 10px;
}

.skils-bikcraft h2::before {
  content: "";
  display: inline-block;
  right: 24px;
  top: 4px;
  position: relative;
  width: 4px;
  height: 20px;
  background-color: rgba(182, 248, 41, 1);
}
.skils ul {
  display: flex;
  flex-wrap: wrap;
  place-items: start;
  gap: 10px;
}

.skils-item {
  font-size: 0.875rem;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .intro {
    gap: 100px;
  }
  .article-info h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 800px) {
  .first-content {
    padding-top: 60px;
  }

  .intro {
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }

  .article-info {
    margin-bottom: 120px;
  }

  .article-info h1 {
    font-size: 2.7rem;
  }

  .experience {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .experience-title {
    word-break: none;
    max-width: 100%;
    font-size: 4rem;
    text-transform: none;
    font-size: 4rem;
    color: #000;
  }

  span {
    position: initial;
    width:initial;
    text-align: initial;
    order: 1;
  }
  .description p {
    padding-left: 0px;
    max-width: 560px;
  }
}

@media (max-width: 600px) {
  .intro {
    gap: 10px;
  }

  .article-info h1 {
    font-size: 1.7rem;
  }

  .article-info p {
    font-size: 1.4rem;
  }

  .skils {
    padding: 15px;
    grid-template-columns: 1fr;
    gap: 20px;
  }


}

@media (max-width: 375px) {
  .lobo {
    display: none;
  }

  .article-info {
    margin-bottom: 40px;
  }

  .article-info h1 {
    font-size: 3rem;
  }

  .experience-title {
    font-size: 3.5rem;
  }

  .description p {
    font-size: 1.3rem;
  }

}
